<header class="header">
    <div class="header__wrapper">
        <a href="#" class="header__wrapper-logo">
            <img src="img/logo.png" alt="">
        </a>
        <nav class="header__wrapper-nav">
            <ul>
                <li>
                    <a href="#">Menu One</a>
                </li>
                <li>
                    <a href="#">Menu Two</a>
                </li>
                <li>
                    <a href="#">Menu Three</a>
                </li>
                <li>
                    <a href="#">Menu Four</a>
                </li>
            </ul>
        </nav>
        <div class="header__wrapper-user">
            <div class="user">
                <a class="user-avatar" href="#">
                    <img src="img/user.png" alt="">
                </a>
                <a class="user-name" href="#">User</a>
                <img class="user-dropdown" src="img/arrow.png" alt="">
                <div class="user-menu">
                    <ul>
                        <li>
                            <a href="#">Logout</a>
                        </li>
                        <li>
                            <a href="#">Logout</a>
                        </li>
                        <li>
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>